[Unit]
Description=TONTgBot
After=syslog.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/etc/init.d/tontgbot start
ExecStop=/etc/init.d/tontgbot stop

[Install]
WantedBy=multi-user.target
